
<!DOCTYPE html>
<html lang="en" ng-app="ohdsiInformerApp" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>OHDSI Informer</title>

    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/jquery-ui-dist/jquery-ui.min.css" rel="stylesheet">
    <link href="css/flatly.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OHDSI Informer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="ng-cloak main-container container-fluid" ng-controller="ohdsiInformerCtrl">

      <div class="row main-row" >

        <div class="col-xs-3 sidebar patient-info" >

          <div>
            <h3><b>{{patient.nameLast}}, {{patient.nameFirst}}</b></h3>
            <h5 style="color:gray">{{patient.age}} yo {{patient.sex}}</h5>
          </div>
          <hr>
          <div>
            <div>
              <input type="text" ng-model="patFilter" class="form-control" placeholder="Filter problems and medications..."/>
            </div>
            <h4>Problems:</h4>
            <div>
              <ul>
                <li ng-repeat="c in patient.conditions | filter:patFilter">
                  <a ng-click="conditionClicked(c)">{{c.resource.code.coding[0].display}}</a>
                </li>
              </ul>
            </div>
          </div>
          <hr>
          <div>
            <h4>Medications:</h4>
            <div>
              <ul>
                <li ng-repeat="c in patient.medications | filter:patFilter">
                  <a ng-click="medicationClicked(c)">{{c.resource.medicationCodeableConcept.coding[0].display}}</a>
                </li>
              </ul>
            </div>
          </div>

        </div>

        <div class="col-xs-9 main-content" ng-show="view === 'main'">
          <div id="question-section">
            <div>
              <h4>What treatment are you interested in?</h4>
              <div class="row">
                <div class="col-xs-8">
                  <input id="treatmentName" class="form-control" ng-model="treatment.name"/>
                </div>
                <div class="col-xs-4">

                </div>
              </div>
            </div>
            <div>
              <h4>What outcome are you interested in?</h4>
              <div class="row">
                <div class="col-xs-8">
                  <input id="outcomeName" class="form-control" ng-model="outcome.name" />
                </div>
                <div class="col-xs-4">

                </div>
              </div>
            </div>
        </div>
            <div ng-if="treatment.code && treatment.code !== '' && outcome.code && outcome.code != ''">
              <h4>What would you like to compare to {{treatment.name}} in terms of risk of {{outcome.name}}?</h4>
              <div class="row">
                <div class="col-xs-8">
                  <select name="compSelect" id="compSelect" ng-model="comparator">
                    <option ng-repeat="option in comparators"
                      value="{{option.name}}">{{option.name}}</option>
                  </select>
                </div>
                <div class="col-xs-4">
                </div>
              </div>
              <div class="row" style="margin-top:10px">
                <div class="col-xs-12">
                  <button class="btn btn-sm btn-success" ng-click="showTable()">Go &raquo;</button>
                  <button class="btn btn-sm btn-default" ng-click="clear()">Clear</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-9 main-content" ng-show="view === 'table'">
              <div class="row" style="margin-top:20px">
                <div class="col-xs-12">
                  <button class="btn btn-primary btn-sm" ng-click="setView('main')">&laquo; Back</button>
                </div>
                <div class="col-xs-12">
                  <h3 align="center">Risk of {{treatment.name}} with {{outcome.name}} compared with {{comparator.name}}</h3>
                  <h5 align="center" style="color:gray">Based on analysis of treatment patients taking {{treatment.name}}</h5>
                </div>
                <div class="col-xs-12" style="margin-top:20px">
                  <table class="table table-striped table-hover ">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Column heading</th>
                              <th>Column heading</th>
                              <th>Column heading</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Column content</td>
                              <td>Column content</td>
                              <td>Column content</td>
                            </tr>

                          </tbody>
                        </table>
                  </div>
              </div>
          </div>

        </div>
      </div>

    </div>
    </div> <!-- /container -->

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="js/date.js"</script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/d3/build/d3.min.js"></script>
    <!--1.6.3-->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
